<div class="page-wrapper" *ngIf="dataObj">
  <app-header (scrollTo)="scrollTo($event)" [author]="author"></app-header>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-3">
        <!-- <img src="assets/logo.jpg" alt="" class="w-100"> -->
      </div>
    </div>
    <!-- Personal Informations -->
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <div class="row mx-0">
          <div class="col">
            <h1 class="text-white" [id]="partMenu.personalInformation">{{ 'Personal Informations' | translate}}:</h1>
            <p>{{ 'Hi, my name is' | translate}} "{{author.name}}" {{ 'or' | translate}} "{{author.nickName}}" {{ 'if its easier for you.' | translate}}</p>
            <p>{{ 'I worked as an' | translate}} {{author.job}} {{ 'for over' | translate}} {{getWorkedYears | memorizeFunction: this: null}} {{ 'years.' | translate}}</p>
            <p>{{author.selfDescriptions}}</p>
            <!-- Common -->
            <h4 class="text-white">{{ 'Common' | translate}}</h4>
            <p>• {{ 'Birth' | translate}}: {{getAges| memorizeFunction: this: null}} {{ 'years old' | translate}} ~ {{personalInformation.common.dateOfBirth | date}}
            </p>
            <p>• {{ 'Gender' | translate}}: {{personalInformation.common.gender}}</p>
            <p>• {{ 'Address' | translate}}: {{personalInformation.common.address}}</p>
            <!-- Interests -->
            <h4 class="text-white">{{ 'Interests' | translate}}</h4>
            <p *ngFor="let interest of personalInformation.interests">{{interest}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Personal Informations -->
    <hr>
    <!-- Experiences -->
    <div class="row d-flex justify-content-center" [id]="partMenu.experiences">
      <div class="col-9">
        <div class="row mx-0">
          <div class="col">
            <h1 class="text-white">{{ 'Experiences' | translate}}:</h1>
            <p class="text-white">{{experiences.summary.label}}</p>
            <p *ngFor="let des of experiences.summary.descriptions">{{des}}</p>
            <hr class="text-white">
            <nz-timeline>
              <nz-timeline-item *ngFor="let timeLine of experiences.timeLines; let timeLineIndex = index">
                <h5 class="text-white">{{timeLine.label}}</h5>
                <p *ngFor="let des of timeLine.descriptions">{{des}}</p>
                <!-- Projects -->
                <ng-container *ngFor="let project of timeLine.projects; let i = index">
                  <h6 class="text-white">{{project.label}}</h6>
                  <p *ngFor="let des of project.descriptions">{{des}}</p>
                  <hr *ngIf="i !== timeLine.projects.length - 1">
                </ng-container>
                <hr class="text-white" *ngIf="timeLineIndex !== experiences.timeLines.length - 1">
              </nz-timeline-item>
            </nz-timeline>
            <!-- <ng-template #dotTemplate>
              <span nz-icon nzType="plus-circle" nzTheme="fill"></span>
            </ng-template> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End: Experiences -->
    <hr>
    <!-- Education -->
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <div class="row mx-0">
          <div class="col">
            <h1 class="text-white" [id]="partMenu.education">{{ 'Education' | translate}}:</h1>
            <h4 class="text-white">{{education.label}}</h4>
            <p *ngFor="let des of education.descriptions">{{des}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Education -->
    <hr>
    <!-- Contact Me -->
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <div class="row mx-0">
          <div class="col">
            <h1 class="text-white" [id]="partMenu.contact">{{ 'Contact Me' | translate}}:</h1>
            <p *ngFor="let item of contact" [innerHTML]="item"></p>
          </div>
        </div>
      </div>

    </div>
    <!-- End: Contact Me -->
    <hr>
    <!-- Contact Me -->
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <div class="row mx-0">
          <div class="col">
            <h1 class="text-white" [id]="partMenu.playGround">{{ 'Play Ground' | translate}}:</h1>
            <p>{{playGround.summaryDescriptions}}</p>
            <ng-container *ngFor="let project of playGround.projects; let i = index">
              <h5 class="text-white">{{project.label}}</h5>
              <p *ngFor="let des of project.descriptions" [innerHTML]="des"></p>
              <hr *ngIf="i !== playGround.projects.length - 1">
            </ng-container>
        </div>
      </div>
    </div>
    <!-- End: Contact Me -->
  </div>
  <br>
  <br>
  <hr class="text-white">
  <br>
  <div class="text-center">{{ 'END' | translate}}</div>
  <br>
  <br>
</div>

