<nav class="shadow navbar navbar-expand-lg navbar-light bg-white header-sticky">
  <div class="w-100 d-flex justify-content-between p-2 container">
    <div class="d-flex">
      <a routerLink="" class="logo">
        <img src="assets/logo.jpg" alt="" class="logo">
      </a>
      <span class="p-1 text-center">
        <!-- <strong>Nguyễn Đức Anh</strong> -->
        <strong>Name</strong>
        <p>Web Developer</p>
      </span>
    </div>

    <div class="nav-menu">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Summary</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Personal Info</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Hobbies</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Education</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="javascript:"><strong>Experiences</strong></a>
        </li>
        <li class="nav-item dropdown middle-dropdown">
          <a class="nav-link text-black" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>...</strong></a>
          <div class="dropdown-menu shadow border-0">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <div class="dropdown middle-dropdown mx-2">
        <a class="text-black text-decoration-none small" href="javascript:"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Social Media
        </a>
        <div class="dropdown-menu shadow border-0">
          <div class="d-flex justify-content-between px-3 py-2 small">
            <a class="text-black mx-2" href="javascript:">
              Facebook
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
